@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto{
    font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
